.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container .half {
    width: 48%;
}

@media (max-width: 1000px) {
    .container .half {
        width: 100%;
    }
}
